/* .image{
    width: 1355px;
    height: 400px;
} */
#span{
    font-size: 200%;
}
.option{
    border-radius: 5px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 70px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.button{
    border-radius: 5px;
    background-color: white;
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 88px;
    padding-right: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: hidden;
}
@media (max-width:27.25em){ 
.button{
    border-radius: 5px;
    background-color: white;
    margin-top: 15px;
    margin-left: -1px !important;
    padding-left: 88px;
    padding-right: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
}
   }
body{
    background-image: url(../images/product-image.jpg);
    
    background-repeat: no-repeat;
    /* background-size: cover; */
    
}
.import{
    color: white;
    padding-top:200px ;
    font-size: 400%;
    text-align: center;
}
@media (max-width:44.375em){
    .import{
        color: white;
        padding-top:200px ;
        font-size: 300%;
        text-align: center;
    }}
    @media (max-width:25em){
        .import{
            color: white;
            padding-top:200px ;
            font-size: 200%;
            text-align: center;
        }}
.background{
    background-color: rgb(40, 40, 40) !important;
 padding-top: 80px;
 /* text-align: center;    */
    color: white;
}
.buttons{
    background-color: white;
    color: rgb(255, 115, 0);
    padding: 5px 10px;
    border-radius: 3px;
    border-style: hidden;
}
.easy{
    color: orange;
    margin-bottom: 0%;
}
.href{
    width: 100px;
    border: 2px solid gray;
    margin: auto;
}

.paragraph{
    width: 75%;
    margin: auto;
    text-align: center;
     margin-bottom: 7rem;
}
.center{
    text-align: center;
}
.store{
    font-size: 200%;
    margin-bottom: 0%;
}
.leorem{
    /* width: 450px; */
    /* margin: auto; */
    text-align: left;
}
.storage{
    width: 40%;
    float: right;
    margin-right: 13%;
}
@media (max-width:75em){
.storage{
    float: right;
    margin-right: 10%;
}
}
@media (max-width:44.375em){
.storage{
    width: 80%;
    float: right;
    margin-right: 10%;
}
}
.picture{
    margin-left: 20%;
    margin-top: -1rem;
    margin-bottom: 3rem;
}
@media (max-width:75em){
.picture{
    margin-left: 10%;
    margin-top: -1rem;
    margin-bottom: 3rem;
}
}
@media (max-width:52.5em){   
    .picture{
        margin-left: 7%;
        margin-top: -1rem;
        margin-bottom: 3rem;
    }
    }
    @media (max-width:44.375em){
        .picture{
            margin-left: 28%;
            padding-top: 17rem !important;
            margin-bottom: 3rem;
        }
    }
    @media (max-width:38.75em){
        .picture{
            margin-left: 25%;
            padding-top: 17rem !important;
            margin-bottom: 3rem;
        }
    }
    @media (max-width:32.5em){
        .picture{
            margin-left: 22%;
            padding-top: 18.7rem !important;
            margin-bottom: 3rem;
        }
    }
    @media (max-width:30em){
        .picture{
            margin-left: 18%;
            padding-top: 18.7rem !important;
            margin-bottom: 3rem;
        }
    }
    @media (max-width:27.5em){
     .hot-pic{
         width: 14rem;
         margin-left: 1.3rem;
     }
    }
    @media (max-width:30em){
        .picture{
            margin-top: 2rem;
            margin-left: 13%;
        }
    }
    @media (max-width:22.5em){
        .picture{
            margin-top: 8.8rem !important;
            margin-left: 13%;
        }
    }
    @media (max-width:20.625em){
        .picture{
            margin-top: 9.8rem !important;
            margin-left: 8%;
        }
    }
    
.pictures{
    margin-top: -2rem;
    padding-bottom: 2rem;
    margin-left: 800px;
}
@media (max-width:73.75em){   
.pictures{
    margin-top: -2rem;
    padding-bottom: 2rem;
    margin-left: 45rem;
}
    }
    @media (max-width:66.25em){   
        .pictures{
            margin-top: -2rem;
            padding-bottom: 2rem;
            margin-left: 37rem;
        }
    }
    @media (max-width:58.125em){   
        .pictures{
            margin-top: -2rem;
            padding-bottom: 2rem;
            margin-left: 32rem;
        }
    }
    @media (max-width:52.5em){   
        .pictures{
            margin-top: -2rem;
            padding-bottom: 2rem;
            margin-left: 28rem;
        }
    }
    @media (max-width:48.25em){   
        .pictures{
            margin-top: -2rem;
            padding-bottom: 2rem;
            margin-left: 26rem;
        }
    }
    @media (max-width:45.625em){   
        .pictures{
            margin-top: -2rem;
            padding-bottom: 2rem;
            margin-left: 23rem;
        }
    }
    @media (max-width:44.375em){   
        .pictures{
            margin-top: -2rem;
            padding-bottom: 2rem;
            margin-left: 11.5rem;
        }
        }
        @media (max-width:38.75em){   
            .pictures{
                margin-top: -2rem;
                padding-bottom: 2rem;
                margin-left: 8.5rem;
            }
            }
            @media (max-width:32.5em){   
                .pictures{
                    margin-top: -2rem;
                    padding-bottom: 2rem;
                    margin-left: 6rem;
                }
                }
                @media (max-width:27.5em){   
                    .warm-pic{
             width: 14rem;
                        margin-top: 2rem;
                        padding-bottom: 2rem;
                        margin-left: 1rem;
                    }
                    }
            @media (max-width:25em){   
                .pictures{
                    margin-top: -2rem;
                    padding-bottom: 2rem;
                    margin-left: 4rem;
                }
                }
            @media (max-width:21.875em){   
                .pictures{
                    margin-top: -2rem;
                    padding-bottom: 2rem;
                    margin-left: 2.2rem;
                }
                }   
    .warm{
    width: 40%;
    float: left;
    margin-left: 10rem;
    text-align: right;
}
@media (max-width:66.25em){   
    .warm{
        width: 40%;
        float: left;
        margin-left: 6rem;
        text-align: right;
    }
    }
    @media (max-width:52.5em){   
        .warm{
            width: 40%;
            float: left;
            margin-left: 4rem;
            text-align: right;
        }
        }
        @media (max-width:44.375em){   
            .warm{
                width: 80%;
                float: left;
                margin-left: 4rem;
                text-align: right;
            }
            }
            @media (max-width:27.5em){   
                .warm{
                    width: 80%;
                    float: left;
                    margin-left: 2.5rem;
                    text-align: right;
                }
                }
    .warms{
    font-size: 180%;
    margin-bottom: 0%;
}

/* Footer */

footer{
    background-color: black;
    color: white;
}
.this-is{
    text-align: left;
    font-size: 110%;
margin-left: 100px;
}
.this{
    margin-left: 100px;

    text-align: left;
    font-size: 90%;
    width: 450px;
}
a{
    text-decoration: none !important;
    color:gray  !important;
}
a:hover{
    color: white !important;
}

.list{
    font-size: 90%;
    width: 160px;
    text-align: left;
    margin-left: 20px;
}
#lis{
    margin-left: 15px;
}
.list-unstyled{
    font-size: 90%;
    width: 350px;
}
.hea5{
    font-size: 125%;
    margin-right: 150px !important;
}
.spaan{
    color: orange;
}
#upperc{
    /* padding-right: 150px; */
    width: 150px;
    text-align: left;
}
#upperce{
    width: 160px;
    text-align: left;
}
#style{
    text-align: left;
    width: 200px;
    margin-left: 60px;
}
.text-uppercase{
    font-size: 90%;
/* width: 100px !important; */
}
.icon{
    color: orange;
}
.icons{
    font-size: 180%;
color: rgb(179, 176, 176);
border-radius: 100%;
}
#icons:hover{
    color: white;
/* border-radius: 100%; */
}


/* Footer */



