body{
/* width: 32%; */
    width: 420px !important;
    margin: auto !important;
}
@media (max-width: 28.75em) {
    body{
width: 100% !important;
    }
        
}
h1{
    width: 100%;
    margin-top: 20% !important;
    text-align: center !important;
}

@media (max-width: 28.75em) {
h1{
    width: 60%;
    margin-top: 20% !important;
    text-align: center !important;
margin-left: 5rem;
/* font-size: 130%; */
}
}
input{
    margin-left: 1rem !important;
}
.form-group-1{
    width: 170px;
    float: left;
    margin-right: 17px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
outline: none;
}
input{
    margin-bottom: 3rem !important;
}
 @media (max-width: 28.75em) {
    .form-group-1{
        width: 75% !important;
        float: none;
        margin: auto !important;
        margin-left: 3rem !important;
        margin-bottom: 2rem !important;
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
        outline: none;
    }
}
@media (max-width: 25em) {
    .form-group-1{
        width: 80% !important;
        float: none;
        margin: auto !important;
        margin-left: 2.2rem !important;
        margin-bottom: 2rem !important;
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
        outline: none;
     }
}
.form-group-2{
    width: 170px;
    float: right;
    margin: 0px 20px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
outline: none;
}
@media (max-width: 28.75em) {
    .form-group-2{
width: 75%;
        float: none !important;
        margin: auto;
 margin-left: 5rem;
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
    outline: none;
    }
}
@media (max-width: 25em) {
    .form-group-2{
        width: 80%;
        float: none !important;
        margin: auto;
        margin-left: 3.4rem;
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
        outline: none;
    }
}
.form{
    margin-top: 120px;
}
.button{
    padding-left:135px;
    padding-right: 130px;
    padding-top: 5px;
    margin-top: 2rem;
    margin-left: 1.5rem;
    padding-bottom: 5px;
    background-color: rgba(12, 211, 12,.8);
    border: hidden;
border-radius: 50px;
color: white;
font-size: 130%;
}
@media (max-width: 28.75em) {  
    
.button{
    padding-left:18%;
    padding-right: 18%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 6rem;
    background-color: rgba(12, 211, 12,.8) !important;
    box-shadow: 0 0 3rem;
    border: hidden;
border-radius: 50px;
color: white;
font-size: 130%;
}
}
/* @media (max-width: 25em) {     
.button{
    padding-left:85px;
    padding-right: 80px;
    margin-left: 4.7rem;
    padding-top: 5px;
    padding-bottom: 5px;
background-color: green;
border-radius: 50px;
color: white;
font-size: 130%;
}
   } */
.button:hover{
    background-color: rgb(22, 20, 20);
}
li{
    color: gray !important;
    padding: 3px;
}
@media (max-width: 28.75em) {  
li{
    color: gray !important;
    padding: 3px;
    margin-left: 3rem;
}      
}
@media (max-width: 25em) {
        li{
            color: gray !important;
            padding: 3px;
            margin-left: 4rem;
        }      
        }
a{
    text-decoration: none !important;
    color: green !important;
}
a:hover{
    color: black !important;
}
.form-group:hover{
border-color: rgb(48, 121, 48);
}