body{
    width: 400px !important;
    margin: auto !important;
}
@media(max-width:25em){      
body{
    width:100% !important;
/* font-size: 80%; */
}
    }    
h1{
    width: 100%;
    margin: auto;
    margin-top: 20% !important;
    text-align: center !important;
}
@media(max-width:31.25em){      
h1{
    margin-top: 20% !important;
    text-align: center !important;
width: 70%;
margin: auto;
}
    }    
.form-group{
    /* border: 3px solid white outset !important; */
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    /* border-bottom-style:hidden  ; */
padding-right: 150px;
border-color: gray;
outline: none !important;
outline-color:green ;
font-size: 110%;
/* outline-bottom: green; */
}
@media(max-width:31.25em){   
.form-group{
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
padding-right: 100px;
margin-left: 1rem;
border-color: gray;
outline: none !important;
outline-color:green ;
font-size: 110%;
/* outline-bottom: green; */
}
}
/* @media(max-width:25em){   
    .form-group{
        border-top-style: hidden !important;
        border-right-style: hidden !important;
        border-left-style: hidden !important;
    padding: 0%;
    width: 80%;
    margin-left: auto !important;
    margin-right: .5rem !important;
    border-color: gray;
    outline: none !important;
    outline-color:green ;
    font-size: 110%;
    }
    } */
     /* @media(max-width:23.125em){   
        .form-group{
            border-top-style: hidden !important;
            border-right-style: hidden !important;
            border-left-style: hidden !important;
        padding: 0%;
        width: 80%;
        margin-left: 1rem;
        border-color: gray;
        outline: none !important;
        outline-color:green ;
        font-size: 110%;
        }
        }  */
    /* @media(max-width:22.5em){   
        .form-group{
            border-top-style: hidden !important;
            border-right-style: hidden !important;
            border-left-style: hidden !important;
        padding: 0% !important;
        border-color: gray;
        outline: none !important;
        outline-color:green ;
        font-size: 110%;
        }
        }     */
    li{
    color: gray !important;
    padding: 3px;
}

@media(max-width:31.25em){   
    li{
        color: gray !important;
        padding: 3px;
        margin-left: 3.4rem;}
    }
    @media(max-width:25em){   
        li{
            color: gray !important;
            padding: 3px;
            margin-left: 2rem;}
        }
a{
    text-decoration: none !important;
    color: green !important;
}
a:hover{
    color: black !important;
}
.form-group:hover{
border-color: rgb(48, 121, 48);
}
.button{
    margin-top: 50px !important;
    padding-left: 165px;
    padding-right: 160px;
    padding-top: 7px;
    font-size: 20px;
    padding-bottom: 7px;
    text-align: center;
    border-radius: 50px;
    border: hidden;
    color: white;
    background-color: rgba(12, 211, 12,.8);
}
@media(max-width:31.25em){   
    .button{
        margin-top: 50px !important;
        padding-left: 115px;
        padding-right: 110px;
        padding-top: 7px;
        margin-left: 3rem;
        font-size: 20px;
        padding-bottom: 7px;
        text-align: center;
        border-radius: 50px;
        color: white;
        background-color: green;
    }
   }
   @media(max-width:25em){   
       .button{
           margin-top: 50px !important;
           padding-left: 85px;
           padding-right: 80px;
           padding-top: 7px;
           margin-left: 5rem;
           font-size: 20px;
           padding-bottom: 7px;
           text-align: center;
           border-radius: 50px;
           color: white;
           background-color: green;
       }
      }
      @media(max-width:23.125em){   
        .button{
            margin-top: 50px !important;
            padding-left: 80px;
            padding-right: 80px;
            padding-top: 7px;
            margin-left: 4rem;
            font-size: 20px;
            padding-bottom: 7px;
            text-align: center;
            border-radius: 50px;
            color: white;
            background-color: green;
        }
       } 
       @media(max-width:20.9375em){   
         .button{
             margin-top: 50px !important;
             padding-left: 80px;
             padding-right: 80px;
             padding-top: 7px;
             margin-left: 3rem;
             font-size: 20px;
             padding-bottom: 7px;
             text-align: center;
             border-radius: 50px;
             color: white;
             background-color: green;
         }
        } 
      .button:hover{
    background-color: rgb(26, 25, 25);
}