*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(45, 46, 46) !important;
    color: #fff !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}
/* navbar */
.navbar-brand{
color: #fff !important;
}
.navbar-toggler-icon{
    color: #fff !important;
}
.btn-warning{
    /* padding: .2rem 2rem !important; */
padding-left: 1rem !important;
padding-right: 1rem !important;
text-transform: uppercase !important;
}
/* slider */

@media (max-width: 46.875em) {  
    .slider{
        height: 30rem !important;
       }
   }
   
.one{
    padding: 0% 0% 28%;
    text-align: center;
}
@media (max-width: 65em) {  
 .one{
        position: relative;
        top: 4rem !important;
    }
}
@media (max-width: 49em) {  
    .one{
        font-size: 80%;
           position: relative;
           top: 6rem !important;
}
   }
   
@media (max-width: 47.875em) {  
    .one{
        font-size: 400%;
           position: absolute !important;
           top: 50.5rem !important;
       }
   }

   .head{
    font-size:380%;
}

@media (max-width: 75em) {  
    .head{
        position: relative;
        top: 2rem !important;
    font-size: 270.7% !important;    
    }
}

.btn-warning{
    color: #fff !important;
}
/* section-1 */
.hr-line{
    width: 6.25rem;
    border: rgb(90, 90,90) 3px solid;
    margin: auto;
    margin-top: 2rem;
}
.section-1{
    text-align: center;
    font-size: 170%;
}
@media (max-width: 25em){         
.section-1{
    text-align: center;
    font-size: 170%;
    width: 60%;
    margin: auto;
}
    }
    @media (max-width: 23em){         
    .section-1{
        text-align: center;
        font-size: 170%;
        width: 70%;
        margin: auto;
    }
        }
/* section-2 */
.paragraph-main{
    font-size: 100%;
    width: 40%;
    text-align: right;
    padding-bottom: 2rem;
    margin-left: 10%;
padding-right: 3rem;
    border-right: 1px solid rgb(83, 83,83);
    float: left;
}
@media (max-width: 68.75em) {      
    .paragraph-main{        
    font-size: 110%;
    width: 40%;
    text-align: right;
    /* margin-left: 4rem; */
    float: left;
    }
    }
    @media (max-width: 50.625em) {     
        .paragraph-main{
            font-size: 100%;
            width: 40%;
            text-align: right;
            /* margin-left: 6rem; */
            float: left;
            }
            }
            @media (max-width: 40.625em) {  
                .paragraph-main{                    
                    font-size: 100%;
                    width: 40%;
                    text-align: right;
                    margin-left: 4rem;
                    float: left;
                    }
               }
              @media (max-width: 37.5em) {  
                .paragraph-main{                   
               font-size: 100%;
                width: 80%;
                text-align: right;
                margin-left: 2rem;
                margin-top: 2rem;
                float: none;
                border: none;
                /* margin: 0%; */
                padding: 0%;
                }
                }
            @media (max-width: 22.6em) {  
                .paragraph-main{
                    font-size: 110%;
                    width: 75%;
                    text-align: right;
                    margin-left: 3rem;
                    float: left;
                    }
                    }
                    @media (max-width: 21.5625em) {  
                        .paragraph-main{
                            font-size: 110%;
                            width: 80%;
                            text-align: right;
                            margin-left: 2rem;
                            float: left;
                            }
                            }
.head-3{
    margin-top: 2rem;
    color: rgb(255, 157, 0);
    font-size: 70% !important;
    /* margin-top: 2rem; */
    margin-bottom: 0 !important;
    }
    .epic{
        font-size: 280%;
        margin-top: 0 !important;
        margin-bottom: 0% !important;
    }
    .epic-color{
        color: rgb(243, 195, 153);
    }
    .head-4{
    margin-top: 2rem;
    color: rgb(255, 157, 0);
        font-size: 110%;
margin-bottom: 0% !important;
    }
    .section-2-sub-2{
        width: 80%;    
        font-size: 170%;
        position: relative;
    /* top: 1rem; */
        left: 3rem;
    }        
@media (max-width: 51.0625em) {  
    .section-2-sub-2{
        width: 90% !important;
        font-size: 170%;
    }
    }
    @media (max-width: 40.625em) {  
        .section-2-sub-2{
            width: 80%;
            font-size: 170%;
        }
       }
    @media (max-width: 38.625em) {  
        .section-2-sub-2{
            margin-left: 0% !important;
            width: 90% !important;
            font-size: 160% !important;
        }
       }
    @media (max-width: 31.25em) {  
        .section-2-sub-2{
            width: 70% !important;
            font-size: 170%;
            position: relative;
        top: 1rem;
            left: 4rem;
        }
       }
       @media (max-width: 26.875em) {  
        .section-2-sub-2{
            width: 70%;
            font-size: 170%;
            position: relative;
        top: 1rem;
            left: 4rem;
        }
       }
       
/* section-3 */
.warm-storage{
    font-size: 80%;
    margin-top: 1.65rem;
    background-color:#000;
    width: 49.95%;
    border-top-left-radius: 5rem;
float: right;
}
.checking-warm{
    margin-right: 14%;
}
@media (max-width: 37.5em) {  
.checking-warm{
    margin-right: 0;
}
}
@media (max-width: 82.5625em) {  
    .warm-storage{
        font-size: 80%;
        margin-top: 3.2rem;
        background-color:#000;
        width: 49.95%;
        border-top-left-radius: 5rem;
    float: right;
    }
}
@media (max-width: 73.1875em) {  
    .warm-storage{
        font-size: 80%;
        margin-top: 3.05rem;
        background-color:#000;
        width: 49.95%;
        border-top-left-radius: 5rem;
    float: right;
    }
}
@media (max-width: 68.75em) {  
    .warm-storage{
        font-size: 80%;
        margin-top: 5rem;
        background-color:#000;
        width: 49.95%;
        border-top-left-radius: 5rem;
    float: right;
    }
    }
    @media (max-width: 68.5em) {  
        .warm-storage{
            font-size: 80%;
            margin-top: 6.8rem;
            background-color:#000;
            width: 49.95%;
            border-top-left-radius: 5rem;
        float: right;
        }
        }
    @media (max-width: 58em) {  
        .warm-storage{
            font-size: 80%;
            margin-top: 8.7rem;
            background-color:#000;
            width: 49.95%;
            border-top-left-radius: 5rem;
        float: right;
        }
        }
@media (max-width: 50.625em) {  
    .warm-storage{font-size: 80%;
        margin-top: 7.4rem;
        background-color:#000;
        width: 49.95%;
        border-top-left-radius: 5rem;
    float: right;
    }
    }
@media (max-width: 47.75em) {  
    .warm-storage{font-size: 80%;
        margin-top: 9rem;
        background-color:#000;
        width: 49.95%;
        border-top-left-radius: 5rem;
    float: right;
    }
    }
@media (max-width: 45.375em) {  
    .warm-storage{
        font-size: 80%;
        margin-top: 10.6rem !important;
        background-color:#000;
        width: 49.95%;
        border-top-left-radius: 5rem;
    float: right;
    }
    }
    @media (max-width: 44.375em) {  
        .warm-storage{
            font-size: 80%;
            margin-top: 12.2rem !important;
            background-color:#000;
            width: 49.95%;
            border-top-left-radius: 5rem;
        float: right;
        }
        }
        @media (max-width: 40.625em) {  
            .warm-storage{
                font-size: 80%;
                margin-top: 13.8rem !important;
                background-color:#000;
                width: 49.95%;
                border-top-left-radius: 5rem;
            float: right;
            }
            }
            @media (max-width: 40em) {  
                .warm-storage{
                    font-size: 80%;
                    margin-top:13.9rem !important;
                    background-color:#000;
                    width: 49.95%;
                    border-top-left-radius: 5rem;
                float: right;
                }
                }
                @media (max-width: 39.75em) {  
                    .warm-storage{
                        font-size: 80%;
                        margin-top:2rem !important;
                        background-color:#000;
                        width: 49.95%;
                        border-top-left-radius: 5rem;
                    float: right;
                    }
                    }
@media (max-width: 37.5em) {  
    .warm-storage{
        font-size: 100%;
        margin-top: 1.85rem;
        background-color:#000;
        width: 100%;
        border-top-left-radius: 0rem !important;
        border-top-right-radius: 5rem;
    float: right;
    }
    }

.hot-img{
    margin-top: 4rem;
width: 6rem;
position: relative;
left: 40%;
}
@media (max-width: 50em) {   
    .hot-img{
        margin-top: 4rem;
    width: 6rem;
    position: relative;
    left: 36%;
}
}
@media (max-width: 37.5em) {   
    .hot-img{
        margin-top: 4rem;
    width: 6rem;
    position: relative;
    left: 40%;
}
}
@media (max-width: 31.25em) {   
    .hot-img{
        margin-top: 4rem;
    width: 6rem;
    position: relative;
    left: 37%;
}
}
@media (max-width: 25.625em) {   
    .hot-img{
        margin-top: 4rem;
    width: 6rem;
    position: relative;
    left: 34%;
}
}
@media (max-width: 21.25em) {   
    .hot-img{
        margin-top: 4rem;
    width: 6rem;
    position: relative;
    left: 32%;
}
}
.hot-heading{
    margin-top: 1.4rem;
    text-transform: uppercase;
    font-size: 200%;
text-align: center;
margin-bottom: 0%;
}
@media (max-width: 37.5em) {   
    .hot-heading,.hot-paragraph{
position: relative;
left: 0rem;
    }
}
.hot-paragraph{
    width: 52%;
    margin-left:25%;
    padding-bottom: .7rem;
    text-align: center;
}

@media (max-width: 50em) {   
.hot-paragraph{
    width: 63%;
    margin-left:19%;
    padding-bottom: 1rem;
    text-align: center;
}
    }
.btn-storage{
    background-color: rgb(255, 136, 0);
    color: #fff;
    border-radius: .3rem;
    font-size: 110%;
    padding: .3rem 1rem;
    border: hidden;
margin-left: 40%;
margin-bottom: 2rem;
}
@media (max-width: 68.75em){   
.btn-storage{
    background-color: rgb(255, 136, 0);
    color: #fff;
    border-radius: .3rem;
    font-size: 110%;
    padding: .3rem 1rem;
    border: hidden;
margin-left: 38.5%;
margin-bottom: 2rem;
}
}
@media (max-width: 59.375em){   
.btn-storage{
    background-color: rgb(255, 136, 0);
    color: #fff;
    border-radius: .3rem;
    font-size: 110%;
    padding: .3rem 1rem;
    border: hidden;
margin-left: 36.5%;
margin-bottom: 2rem;
}
}
@media (max-width: 50em) {   
.btn-storage{
    background-color: orange;
    color: #fff;
    border-radius: .3rem;
    font-size: 100%;
    padding: .5rem 1rem;
    border: hidden;
margin-left: 35%;
margin-bottom: 4rem;
}
}        
@media (max-width: 44em) {   
    .btn-storage{
        background-color: orange;
        color: #fff;
        border-radius: .3rem;
        font-size: 100%;
        padding: .5rem 1rem;
        border: hidden;
    margin-left: 30%;
    margin-bottom: 4rem;
    }
    }
       
@media (max-width: 37.5em) {   
    .btn-storage{
        background-color: orange;
        color: #fff;
        border-radius: .3rem;
        font-size: 100%;
        padding: .5rem 1rem;
        border: hidden;
    margin-left: 40%;
    margin-bottom: 4rem;
    }
    }
    @media (max-width: 28.9375em) {   
        .btn-storage{
            background-color: orange;
            color: #fff;
            border-radius: .3rem;
            font-size: 100%;
            padding: .5rem 1rem;
            border: hidden;
        margin-left: 36.5%;
        margin-bottom: 4rem;
        }
        }
        @media (max-width: 25em) {   
        .btn-storage{
        background-color: orange;
        color: #fff;
        border-radius: .3rem;
        font-size: 100%;
        padding: .5rem 1rem;
        border: hidden;
        margin-left: 33.5%;
        margin-bottom: 4rem;
        }
        }
        @media (max-width: 21.25em) {   
        .btn-storage{
        background-color: orange;
        color: #fff;
        border-radius: .3rem;
        font-size: 100%;
        padding: .5rem 1rem;
        border: hidden;
        margin-left: 30.5%;
        margin-bottom: 4rem;
        }
        }
        @media (max-width: 20.3125em) {   
        .btn-storage{
        background-color: orange;
        color: #fff;
        border-radius: .3rem;
        font-size: 100%;
        padding: .5rem 1rem;
        border: hidden;
        margin-left: 28.5%;
        margin-bottom: 4rem;
        }
        }
.hot-storage{
    font-size: 80%;
    margin-top: 1.5rem;
    background-color:rgb(20, 20,20);
    width: 49.95%;
    float: left !important;
    border-top-right-radius: 5rem;
}
.checking-hot{
    margin-left: 14%;
}
@media (max-width: 37.5em) {  
    .checking-hot{
    margin-left: 0;
}
}
@media (max-width: 73.1875em) {  
.hot-storage{
    font-size: 80%;
    margin-top: 3.1rem;
    background-color:rgb(20, 20,20);
    width: 49.95%;
    float: left !important;
}
}

@media (max-width: 61em) {  
    .hot-storage{
        font-size: 80%;
        margin-top: 1.5rem !important;
        width: 49.95%;
    background-color:rgb(20, 20,20);
        float: left !important;
        border-top-right-radius: 5rem;
    }
    }
    @media (max-width: 51.6875em) {  
        .hot-storage{
            font-size: 80%;
            margin-top: 0rem !important;
            width: 49.95%;
        background-color:rgb(20, 20,20);
            float: left !important;
            border-top-right-radius: 5rem;
        }
        }
 
        @media (max-width: 50.625em) {  
            .hot-storage{
                font-size: 80%;
                margin-top: 2rem !important;
                width: 49.95%;
            background-color:rgb(20, 20,20);
                float: left !important;
                border-top-right-radius: 5rem;
                }
            }    
@media (max-width: 37.5em) {  
    .hot-storage{
        font-size: 100%;
        margin-top: 0rem !important;
        background-color:#000;
        width: 100%;
        float: left !important;
        border-top-right-radius: 5rem;
    }
    }
/* section-4 */
.hot-sect{
float: left;
margin-left: 15rem;
margin-top: -2rem;
}
@media (max-width: 82.5625em) {  
    .hot-sect{
        float: left;
        margin-left: 16%;
        margin-top: 0rem;
        }
            }
@media (max-width: 75em) {  
    .hot-sect{
        margin-left: 17% !important;
        margin-right: 0rem;
    }
    }
    @media (max-width: 62.5em) {  
        .hot-sect{
            margin-top: 0rem;
            margin-left: 14% !important;
            margin-right: 0rem;
        }
        }
        @media (max-width: 53.75em) {  
            .hot-sect{
                margin-top: 1rem;
                margin-left: 10% !important;
                margin-right: 0rem;
            }
                }
                @media (max-width: 50em) {  
                    .hot-sect{
                        margin-top: 1rem;
                        margin-left: 10% !important;
                        margin-right: 0rem;
                    }
                        }
                        @media (max-width: 37.5em) {  
                            .hot-sect{
                            float: none !important;
                            margin: 0%;
                            padding-bottom: 0% !important;
                            width: 50% !important;
                            }
                            }
                     
        @media (max-width: 45.625em) {  
            .hot-picture{
                width: 80%;
position: relative;
top: .4rem;
}
            }
        @media (max-width: 42.625em) {  
            .hot-picture{
                width: 80%;
                position: relative;
                top: 2rem;
            }
            }
        @media (max-width: 38.125em) {  
            .hot-picture{
                width: 80%;
                position: relative;
                top: 2rem;
            }
            }
            @media (max-width: 37.5em) {  
                .hot-picture{
                    width: 90% !important;
                    margin-left: 6rem;
                }
                }
                @media (max-width: 33.125em) {  
                    .hot-picture{
                        width: 15rem !important;
                        margin-left: 5rem;
                    }
                    }
                    @media (max-width: 28.75em) {    
                        .hot-picture{
                 margin-left: 3.4rem;
                        }
                    }    
    @media (max-width: 26.25em) {  
        .hot-picture{
 margin-left: 2rem;
        }
    }
    @media (max-width: 23.125em) {  
        .hot-picture{
 margin-left: 2rem;
        }
    }
    @media (max-width: 21.875em) {  
        .hot-picture{
            width: 13rem !important;
 margin-left: 2rem;
        }
    }
    @media (max-width: 20.625em) {  
        .hot-picture{
            width: 13rem !important;
 margin-left: 1.3rem;
        }
    }
  
    .leo{
        font-size: 86%;
        margin-bottom: 2rem;
    }
.sub-hot-temp{
    margin-top: 28rem;
font-size: 105%;
    width: 33%;
    margin-left: 43rem !important;
}
@media (max-width: 75em) {  
    .sub-hot-temp{
        margin-top: 30rem;
    font-size: 105%;
        width: 33%;
        margin-left: 39rem !important;
    }
}    
@media (max-width: 68.6em) {  
    .sub-hot-temp{
        margin-top: 33rem;
    font-size: 105%;
        width: 33%;
        margin-left: 35rem !important;
    }
}    
@media (max-width: 62.5em) {  
    .sub-hot-temp{
        margin-top: 35rem;
    font-size: 105%;
        width: 35%;
        margin-left:32rem !important;
    }
}    
@media (max-width: 57.9375em) {  
    .sub-hot-temp{
        margin-top: 37rem;
    font-size: 105%;
        width: 35%;
        margin-left:32rem !important;
    }
}    
@media (max-width: 53.75em) {  
    .sub-hot-temp{
        margin-top: 38rem;
    font-size: 105%;
        width: 35%;
        margin-left: 28rem !important;
    }
}    
@media (max-width: 50em) {  
    .sub-hot-temp{
        margin-top: 38rem;
    font-size: 105%;
        width: 33%;
        margin-left: 26rem !important;
    }
}    
@media (max-width: 45.625em) {  
    .sub-hot-temp{
        margin-top: 40rem !important;
    font-size: 105%;
    width: 40%;
        margin-left: 24rem !important;
    }
}    
@media (max-width: 44.375em) {  
    .sub-hot-temp{
        margin-top: 42rem !important;
    font-size: 105%;
     width: 40%;
        margin-left: 24rem !important;
    }
}    
@media (max-width: 41em) {  
    .sub-hot-temp{
        margin-top: 43rem !important;
    font-size: 105%;
    position: relative;
    top: 1rem;
/* bottom: 10rem; */
    width: 35%;
        margin-left: 22rem !important;
    }
}    
@media (max-width: 38.125em) {  
    .sub-hot-temp{
        margin-top: 48rem !important;
    font-size: 105%;
    position: relative;
    top: 1rem;
/* bottom: 10rem; */
    width: 35%;
        margin-left: 22rem !important;
    }
}    
@media (max-width: 37.5em) {  
    .sub-hot-temp{
        margin-top: 3rem !important;
    font-size: 105%;
    position: relative;
    width: 75% !important;
        margin-left: 4rem !important;
    }
}    
@media (max-width: 26.875em) {  
    .sub-hot-temp{
        margin-top: 3rem !important;
    font-size: 105%;
    position: relative;
    width: 75% !important;
        margin-left: 3rem !important;
    }
}    

.hot{
text-transform: uppercase;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 170%;
    margin-bottom: 1rem;
}
.btn-storage-hot{
    font-size: 110%;
    color: rgb(255, 136, 0);
    background-color: #fff;
    border-radius: .2rem;
    border: hidden;
    padding: .3rem 1rem;
}

/* section-5 */
.section-5{
    margin-top: 6rem;
    padding-top: 3rem ;
    padding-bottom: 3rem;
    background-color: #000;
}
.warm{
    text-transform: uppercase;
margin-bottom: 1rem;
}
.sub-warm-temp{
font-size: 105%;
    width: 33%;
float: left;
margin:0 13%;
margin-top: 3.5rem;
margin-left: 12rem;
/* padding-bottom: 8rem; */
text-align: right;
}
@media (max-width: 65.625em) {  
.sub-warm-temp{
    font-size: 105%;
        width: 38%;
    float: left;
    margin:0 13%;
    margin-top: 3.5rem;
    margin-left: 7rem;
    /* padding-bottom: 8rem; */
    text-align: right;
    }
}
@media (max-width: 54.0625em) {  
.sub-warm-temp{
    font-size: 105%;
        width: 40%;
    float: left;
    margin:0 8%;
    margin-top: 3.5rem;
    margin-left: 4rem;
    text-align: right;
    }
}

@media (max-width: 45.625em) {  
    .sub-warm-temp{
        font-size: 105%;
        width: 40%;
    float: left;
    margin:0 8%;
    margin-top: 3.5rem;
    margin-left: 4rem;
    text-align: right;
    } 
  }
    
@media (max-width: 45.625em) {  
    .sub-warm-temp{
        font-size: 105%;
        width: 40%;
    float: left;
    margin:0 8%;
    margin-top: 1rem;
    margin-left: 4rem;
    text-align: right;
    } 
  }
  @media (max-width: 39.375em) {  
      .sub-warm-temp{
          font-size: 105%;
          width: 42%;
      float: left;
      margin:0 8%;
      margin-top: 1rem;
      margin-left: 2rem;
      text-align: right;
      } 
    }
    @media (max-width: 37.5em) {  
        .sub-warm-temp{
            font-size: 105%;
            width: 75%;
            position: relative;
            top: 18rem;
        float: left;
        margin:0 8% !important;
        /* padding-bottom: 8rem; */
        text-align: right;
        } 
      }
    @media (max-width: 33.125em) {  
    .sub-warm-temp{
        font-size: 105%;
            width: 75%;
            position: relative;
            top: 17rem;
        float: left;
right: -2rem;
        text-align: right;
        }
    }
    @media (max-width: 27.6875em) {  
        .sub-warm-temp{
            font-size: 105%;
                width: 77%;
                position: relative;
                top: 17rem;
            float: left;
    right: -2rem;
            text-align: right;
            }
            }
    @media (max-width: 25em) {  
        .sub-warm-temp{
            font-size: 105%;
                width: 77%;
                position: relative;
                top: 17rem;
            float: left;
    right: -2rem;
            text-align: right;
            }
        }
        @media (max-width: 20.625em) {  
            .sub-warm-temp{
                font-size: 105%;
                    width: 77%;
                    position: relative;
                    top: 15rem;
                float: left;
        right: 0rem;
                text-align: right;
                }
            }
@media (max-width: 45.625em) {  
    .warm-pic{
        margin-top: 1.8rem;
    width: 15rem; 
    }
    }  
@media (max-width: 38.75em) {  
    .warm-pic{
        margin-top: 2rem;
        width: 15rem;        
        }
    }
    @media (max-width: 37.5em) {  
        .warm-pic{
            width: 45% !important;
            position: relative;
            top: -16rem;
            left: 27%;
            }
        }
    @media (max-width: 33.125em) {  
        .warm-pic{
            width: 15rem !important;
            position: relative;
            top: -17rem;
            left: 27%;
            }
        }
        @media (max-width: 27.6875em) {  
            .warm-pic{
                width: 15rem !important;
                position: relative;
                top: -17rem;
                left: 23%;
                }
            }
        @media (max-width: 25em) {  
            .warm-pic{
                width: 15rem;
                position: relative;
                top: -19rem;
                left: 20%;
                }
            }
            @media (max-width: 21.875em) {  
                .warm-pic{
                    width: 13rem !important;
                    position: relative;
                    top: -19rem;
                    left: 20%;
                    }
                }
                @media (max-width: 20.625em) {  
                    .warm-pic{
                        width: 13rem !important;
                        position: relative;
                        top: -21rem;
                        left: 18.7%;
                        }
                    }
        /* Section-6 */

.serve{
    font-size: 2.2rem;
    color: rgb(255, 136, 0);
    margin-bottom: 0%;
    letter-spacing: .16rem;
}
.section{
  margin: 4rem 0; 
    text-align: center;
}

@media (max-width: 56.25em) {  
    .section{
        font-size: 80%;
        margin-top: 5rem; 
          text-align: center;
      }
}

@media (max-width: 43.75em) {  
    .section{
        font-size: 70%;
        margin-top: 5rem; 
          text-align: center;
      }
}
@media (max-width: 31.25em) {  
    .section{
        font-size: 70%;
        margin-top: 5rem;
        width: 80%;
        margin: auto;
        padding: 2rem 0 !important; 
          text-align: center;
      }
}
.claim{
    font-size: 550%;
}
.mbs{
    color: rgb(255, 222, 161);
}
.network{
    font-size: 2.2rem;
    color: gainsboro;
    letter-spacing: 2px;
}

/* Section-7 */

.before{
    background-color: rgb(14, 13, 13);
}

@media (max-width: 56.25em) {  
    .before{
        padding-bottom: 5rem !important;
    }
    }
    
@media (max-width: 43.75em) {  
    .before{
        padding-bottom: 10rem !important;
    }
    }
    
@media (max-width: 40.625em) {  
    .before{
        padding-bottom: 8rem !important;
    }
    }
    @media (max-width: 37.5em) {  
        .before{
            padding-bottom: 0rem !important;
        }
        }
.head-7{
    padding-top: 5rem !important;
}
.phys{
    width: 25rem;
    /* width: 30%; */
    /* float: right; */
    margin-top: 0%;
    margin-left: 25px;
}

@media (max-width: 56.25em) {  
    .phys,.because{
        width: 19rem;
position: relative;
top: -2rem;
        margin-left: 1.8rem;
    }
    }
@media (max-width: 40.0625em) {  
    .phys,.because{
        width: 70%;
position: relative;
top: -2rem;
left: 4rem;
}
}
    @media (max-width: 26.875em) {  
        .phys,.because{
            width: 70%;
    position: relative;
    top: -2rem;
    left: 2rem;
   }
   }        
.cloud{
    color: rgb(255, 145, 0);
    text-align: center;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.heading{
    text-align: center;
    margin-bottom: 0%;
}
.href{
    width: 100px;
    margin: auto;
    margin-top: 25px;
    border: 2px solid grey;
}
.picture1{
    /* float: left; */
    padding-top:5rem ;
    margin-left: 12rem;
    padding-bottom: 5rem;
}
@media (max-width: 78.125em) {  
    .picture1{
        /* float: left; */
        padding-top:5rem ;
        margin-left: 9rem;
        padding-bottom: 5rem;
    }
}
@media (max-width: 72.5em) {  
    .picture1{
        /* float: left; */
        /* width: 70% !important; */
        padding-top:5rem ;
        margin-left: 8rem;
        padding-bottom: 5rem;
    }
}
@media (max-width: 62.5em) {  
    .picture1{
        /* float: left; */
        /* width: 70% !important; */
        padding-top:5rem ;
        margin-left: 5rem;
        padding-bottom: 5rem;
    }
}
@media (max-width: 40.625em) {  
    .picture1{
        /* float: left; */
        /* width: 70% !important; */
        padding-top:5rem ;
        margin-left: 2rem;
        padding-bottom: 5rem;
    }
}
.picture{
    width: 35%;
    /* height: 150% !important; */
}

@media (max-width: 62.5em) {  
    .picture{
        height: 14rem;
    }}

@media (max-width: 40.625em) {  
.picture{
    width: 12rem;
margin: 0rem !important;
padding:0 !important ;
    height: 15rem;
}}

@media (max-width: 37.5em) {  
    .picture{
        width: 70%;
        height: 15rem;
margin-left: 12% !important;
    }}
@media (max-width: 26.875em) {  
    .picture{
margin-left: 8% !important;
height: 10rem;
    }}
.data{
    padding-top: 50px;
    float: right;
    font-size: 80%;
    margin-right: 12%;
}
@media (max-width: 78.125em) {  
    .data{
        padding-top: 50px;
        float: right;
        font-size: 80%;
        margin-right: 11%;
    }
}
@media (max-width: 62.5em) {  
    .data{

        padding-top: 50px;
        float: right;
        font-size: 90%;
        margin-right: 7%;
}
}
@media (max-width: 59.375em) {  
    .data{
        /* width:20rem !important; */
        padding-top: 50px;
        float: right;
        font-size: 90%;
        margin-right: 4% !important;
}
}
@media (max-width: 40.125em) {  
    .data{
        width:24rem !important;
       padding-top: 30px;
        float: right;
        font-size: 90%;
        /* padding-left: 0 !important; */
        /* margin-right: 0% !important; */
    /* margin-left: 0% !important; */
/* padding-bottom: 5rem;     */
}
}
@media (max-width: 40em) {  
    .data{
        width:22rem !important;
        margin-top: 30px;
        float: right;
        font-size: 90%;
        padding-left: 0% !important;
        margin-right: 2% !important;
    margin-left: 0% !important;
/* padding-bottom: 5rem;     */
}
}
@media (max-width: 37.5em) {  
    .data{
        width:100% !important;
        margin-top: 30px;
        float: right;
        font-size: 90%;
        padding-left: 0% !important;
        margin-right: 2% !important;
    margin-left: 0% !important;
/* padding-bottom: 5rem;     */
}
}
.because{
    font-size: 140%;
    margin-bottom: 0%;
}

/* Footer */

footer{
    background-color: black;
}
.white{
    color: #fff;
}
.i{
    color: #fff !important;
}
.text-uppercase{
    margin-bottom: 0% !important;
}
.this-is{
    text-align: left;
    font-size: 110%;
margin-left: 100px;
}
.this{
    margin-left: 100px;

    text-align: left;
    font-size: 90%;
    width: 450px;
}
a{
    text-decoration: none !important;
margin-bottom: 0% !important;
}
.footer-paragraph{
    margin-bottom: 0%;
}
a:hover{
    color: white !important;
}
.social-icon{
    font-size: 150% !important;
}
.social-icon:hover{
    color: #fff;
}
.iconse{
    color: orange;
}
.list{
    font-size: 90%;
    width: 160px;
    text-align: left;
    margin-left: 20px;
}
#lis{
    margin-left: 15px;
}

.list-unstyled{
    font-size: 90%;
    width: 350px;
}
.hea5{
    font-size: 125%;
    margin-right: 150px !important;
}

#upperc{
    width: 150px;
    text-align: left;
}
#upperce{
    width: 160px;
    text-align: left;
}
#style{
    text-align: left;
    width: 200px;
    margin-left: 60px;
}
.text-uppercase{
    font-size: 90%;
}
.icon{
    color: orange;
}
.icons{
    font-size: 180%;
border-radius: 100%;
}
#icons:hover{
    color: white;
}
.footer-last{
color: rgb(255, 136, 0);
}